.rectangle {
    -fx-fill: black;
    -fx-stroke: linear-gradient(to right, purple, #ff00ff);
    -fx-stroke-width: 4;
    -fx-effect: dropshadow(gaussian, cyan, 20, 0.6, 0, 0);
    -fx-arc-width: 20; /* Arrondi horizontal */
    -fx-arc-height: 20; /* Arrondi vertical */
}

.start {
    -fx-fill: linear-gradient(to bottom, lightgreen, limegreen);
    -fx-stroke: lightgreen;
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(gaussian, lightgreen, 15, 0.7, 0, 0);
    -fx-arc-width: 30;
    -fx-arc-height: 30;
}

.end {
    -fx-fill: linear-gradient(to bottom, red, darkred);
    -fx-stroke: red;
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(gaussian, purple, 15, 0.7, 0, 0);
    -fx-arc-width: 30;
    -fx-arc-height: 30;
}

.connector {
    -fx-fill: linear-gradient(to right, beige, lightyellow);
    -fx-stroke: linear-gradient(to right, red, orange);
    -fx-stroke-width: 4;
    -fx-effect: dropshadow(gaussian, orange, 20, 0.6, 0, 0);
    -fx-arc-width: 15; /* Arrondi */
    -fx-arc-height: 15;
}
